<html>
  <head>
    <title>Directory Listing for <%= path %></title>
  </head>
  <body>
    <h1>Directory Listing for <%= path %></h1>
    <hr>
    <ul>
      <%= for item <- list do %>
	  <li><a href="<%= item %>"> <%= item %> </a> </li>
	  <% end %>
    </ul>
    <hr>
    <form method="POST" action="/upload_file" enctype="multipart/form-data">
      <input type="file" name="fileupload">
      <input type="submit" value="submit">
    </form>
    <hr>
  </body>
</html>
